.foo-menu{
  width: 100%;
  padding: 18px;
  height: auto;
  position: fixed;
  bottom: 0;
  color: #fff;
  background: rgba(22, 38, 66, 0.9);
}
.tab-foo{
  font-size: 30px;
  width: 10.7%;
  height: auto;
  float: left;
  text-align: center;
}
.sp-foo{
  width: 1px;
  background: #fff;
  height: 30px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.grid-info{
  margin: 2%;
  height: auto;
  border: solid 1px #000;
  
}
.grid-info b{
  font-weight: 1000 !important;
}
.grid-info ul{
  list-style-type: none;
  width: 100%;
}
.grid-info li{
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 5px;
 padding-left: 5px;  
 border-bottom: solid 1px #000;
 width: 95%;

}

.superinput{
  margin-bottom: 30px;
}



.superinput input[type="text"]{
  padding: 10px;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
  color: #000;
  font-size: 26px;
  width: 94%;
  font-size: 10px;
  ::-webkit-input-placeholder {
   color: #000;
   font-weight: bold;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #000;  
     font-weight: bold;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #000;  
     font-weight: bold;
  }

  :-ms-input-placeholder {  
     color: #000;  
     font-weight: bold;
  }

}
.superinput input[type="text"]:focus,
.superinput input[type="text"].focus {
  border: solid 5px #969696;
  font-size: 30px;
}

.btn {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #2eb8c2;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  float: right;
  margin: 15px;
}

.btn:hover {
  background: #e3e5e6;
  text-decoration: none;
}
.cameraopts{
  margin-top: 15px;
  margin-bottom: 15px;
  position:relative;
  float: left;
  width: auto;
  width: 100%;
  background: #eee;
  border: solid 1px #000;
}
.btncamera {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #010101;
  font-size: 30px;
  background: #fff;
  padding: 20px;
  width: 40px;
  height: 30px;
  text-align: center;
  border-left: solid 1px #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.btncamera:click {
  background: #94772c;
  text-decoration: none;
}

.camera-submit{
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #010101;
  font-size: 30px;
  background: #00FF80;
  padding: 20px;
  width: 37px;
  height: auto;
  float: left;
  text-align: right;
  border-left: solid 1px #fff;
}
.image-form{
  margin-bottom: 150px;
}

.img-border{
  padding: 2px;
  border-color: #e1e1e1;
  border: solid 1px;
  margin: 10%;
  width: 120px;
  height: 120px;
}

.img-contentx{
  width: auto;
  float: left;
  margin: 3px;
}

.denuce{
  padding: 0px;
  width: 97%;
  margin-top: 2%;
  margin-left: 1%;
  background: #eee;
  font-size: 17px;
  float: left;
}
.titledenunce{
  height: 50px;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 5px;
}

.images-container{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}
.log{
  margin-top: 70px;
  padding: 10px;
  width: 100%;
  background: #000;
  color: #fff;
  height: 300px;
}

.round-number{
  width: 100px;
  height: 100px;
  background: #58D3F7;
  font-size: 60px;
  color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;  
  margin-bottom: 10px; 
  margin-top: 20px; 
}

.btn-blue-bordered{
  border: solid 2px #2E2EFE;
  width: 90%;
  margin: 5%; 
  padding: 5px;
  color: #2E2EFE;
  text-align: center;

}
.mid-form{
  width: 90%;
  margin: 5%; 
}

.button-round{
  width: 100px;
  height: 100px;
  background: rgba(179,220,237,1);
  background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
  background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
  font-size: 60px;
  color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;  
  margin-bottom: 10px; 
  margin-top: 20px; 
}

.button-round-save{
  width: 100px;
  height: 100px;
  background: rgb(180,223,91);
  background: -moz-linear-gradient(top,  rgba(180,223,91,1) 0%, rgba(180,223,91,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=0 ); /* IE6-9 */
  font-size: 60px;
  color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;  
  margin-bottom: 10px; 
  margin-top: 220px; 
}


.button-sincro {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 6px solid #2799a1;
    border-radius: 14px;
    background: #4afff0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4afff0), to(#268c99));
    background: -moz-linear-gradient(top, #4afff0, #268c99);
    background: linear-gradient(to bottom, #4afff0, #268c99);
    text-shadow: #d19292 0px 0px 0px;
    font: normal normal bold 32px arial;
    color: #ffffff;
    text-decoration: none;
}
.button-sincro:hover,
.button-sincro:focus {
    border: 6px solid #33c7d1;
    background: #59ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#59ffff), to(#2ea8b8));
    background: -moz-linear-gradient(top, #59ffff, #2ea8b8);
    background: linear-gradient(to bottom, #59ffff, #2ea8b8);
    color: #ffffff;
    text-decoration: none;
}
.button-sincro:active {
    background: #2c9990;
    background: -webkit-gradient(linear, left top, left bottom, from(#2c9990), to(#268c99));
    background: -moz-linear-gradient(top, #2c9990, #268c99);
    background: linear-gradient(to bottom, #2c9990, #268c99);
}

.paginate-add{
    padding: 5%;
    width: 97%;
}

.minues{
  font-size: 45px;
  float: left;
}

.max{
  font-size: 45px;
  float: right;

}

.button-search {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9px;
    margin-left: 4px;
    border: 1px solid #5c5757;
    border-radius: 8px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button-search:hover,
.button-search:focus {
    border: 1px solid #938b8b;
    color: #ffffff;
    text-decoration: none;
}
.button-search:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#ffffff));
    background: -moz-linear-gradient(top, #999999, #ffffff);
    background: linear-gradient(to bottom, #999999, #ffffff);
}
.button-search:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABmElEQVRIia2Vv2oCQRCHPw6xCiEECXkCCxGLIBJCimAVrFKJIc8kqeSKkCKFhVilsEhhYyspQhAJ+A4SDIgxxhR7i3ODe//IwHLHzuzvm92d3QW3VYE2MAbmwAb4BF6Be6AGeBHjnVYEBoHgNqa9AKU04jdBlnHCsi2AZlLxtRi4ArpAAygAueB7DTwFfhu7AVpR4kWV+QdwFpNQBZiomZRdwQMlfhojbu1EQYbs2fgquw1dJchcWwVYCsiFDmgLZzeluLVHodHRzrFwNjIC6kLjXTvnwlnICDgkXH0hkwcqlxEA4RLP204P+BJBRxnFD9gl9w38SMBMBFYzAuS4GfArASPhvM0IuBP/I+2sEd6gSkrxEuFzcKkDPMytaAMmJK+mY+CNmJNss1goSNxMSkp8CzwjKkhbk3DJLjEntI6pczDVcgU8EF4W2fpElHtLzUS2taPfBXHOpIxZyyRCw2BZ9vl6URAPcyt2MHeLfVxWmP3xMdXiBSJ9B8R3AfZZHvcjn3NAlmkASRLoKcD0PwEW4mMynwLnfzgWv6p3nCLOAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

.lectures-count{
   font-weight: 30px;
   padding: 5px;
   color: #fff;
   background: #000;
   width: 240px;
}
